@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-display: "Sora", sans-serif;

  /* main */
  --color-main-lightest: #f6f5fc;
  --color-main-light: #e0e3ff;
  --color-main: #6674f4;
  --color-main-dark: #5061fc;
  --color-main-darkest: #3346f0;

  /* sucess */
  --color-sucess-main: #51ca73;

  /* danger */
  --color-danger-light: #f97171;
  --color-danger-main: #fc5050;
  --color-danger-dark: #f63131;
}

@layer {
  button {
    @apply cursor-pointer;
  }
}
